<h2 [ngStyle]="{'margin-bottom':'20px'}">Provider Detail</h2>
<p>provider Id: {{provider.id}}</p>
<p>Name: {{provider.name | uppercase}}</p>
<p>Address: {{provider.address}}</p>
<p>Country: {{provider.country}}</p>
<p>City: {{provider.city}}</p>
<p>State: {{provider.state | uppercase}}</p>
<p>Zip: {{provider.zip}}</p>
<p>Phone: {{provider.phone}}</p>
<p>Fax: {{provider.fax}}</p>
<p>Business Hours: {{provider.start_time}} - {{provider.end_time}}</p>
<p>User: {{provider.user}}</p>

<router-outlet></router-outlet>

<div>
  <button class="btn" (click)="goBack()">Back to provider List</button>
</div>
